body {
  font-family: 'Winky Sans', sans-serif; /* Make sure the font is applied here */
}

/* You can also target specific elements if needed */
h1,h2,p, label, input, button {
  font-family: 'Winky Sans', sans-serif;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: grid;
  gap: 16px;
}

label {
  font-size: 1rem;
  font-weight: bold;
  color:  #eeb7d1;
}

input {
  padding: 5px;
  font-size: 1rem;
  border: 2px solid #eeb7d1;
  border-radius: 4px;
  background-color: #444444;
  color: #ffffff;
  width: 100%;
}

input:focus {
  border-color: #f34a8e;
  outline: none;
}

button {
  padding: 12px;
  background-color: #101010;
  color:#cf89aa;
  border: 2px solid #eeb7d1;
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

button:hover {
  background-color: #cb6f8f;
  color: #100b0b;
}

button:active {
  background-color: #d3386e;
  
}

/* Image background styling */
.bg-cover {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url('https://res.klook.com/image/upload/v1673236312/v2rfb2znqw8ktmprsczd.jpg');
}

/* Error message styling */
span {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;}